@import "../../theme/colors.scss";
@import "../../theme/dimensions.scss";


.wrapper {
  text-decoration: none;
  color: $black;
  padding: $gutter 0px;
  border-bottom: 1px solid $greyLight;
  margin: $gutter 0px;

  h2 {
    color: $lightTeal;
  }

  span {
    color: $grey;
  }
}

@supports (display: grid) {
  .wrapper {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    grid-row-gap: $gutter;

    h2, p {
      margin-bottom: 0px;
    }
  }
}
