$darkTeal: #002c3f;
$teal: #0d394c;
$lightTeal: #739fb2;
$pink: #df064a;
$white: #fafafa;
$black: #111111;

$grey: #828282;
$greyLight: lighten($grey, 40%);
$greyLightest: lighten($grey, 45%);
$greyDark:  darken($grey, 25%);
