$tablet: 768px;
$desktop: 1020px;
$gutter: 16px;
$gutterSmall: 8px;
$gutterLarge: 32px;
$maxContentWidth: 960px;

@mixin container {
  margin: 0 auto;
  max-width: $maxContentWidth;
  padding-left: $gutter;
  padding-right: $gutter;
  @media only screen and (min-width: $tablet) {
    padding-left: $gutterLarge;
    padding-right: $gutterLarge;
  }
}

@mixin padded-container {
  @include container;
  padding-top: $gutter;
  padding-bottom: $gutter;
  @media only screen and (min-width: $tablet) {
    padding-top: $gutterLarge;
    padding-bottom: $gutterLarge;
  }
}
