@import "../../theme/colors.scss";
@import "../../theme/dimensions.scss";

.wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 22px;
  padding: 12px 0px 8px 0px;
  border: none;
  border-bottom: 1px solid $lightTeal;

  .label {
    position: absolute;
    top: 26px;
    left: 0px;
    text-align: left;
    pointer-events:none;
    transition: all 0.15s ease;
    font-weight: 400;
    color: $lightTeal;
    opacity: 1;
    transition: all 0.25s ease;
  }

  input, textarea {
    padding: 0;
    line-height: 32px;
    min-height: 34px;
    top: 8px;
    display: block;
    position: relative;
    box-sizing: padding-box;
    background-color: transparent;
    border: none;
    overflow: hidden;
    width: 100%;
    outline: none;
  }

  textarea {
    margin-bottom: -6px;
  }

  &.disabled {
    border-bottom: 1px solid $greyLight;

    .label {
      color: $greyLight;
    }
  }

  &.active {
    border-bottom-color: $teal;
    .label { color: $teal }
  }

  &.error {
    border-bottom-color: $pink;
    .label { color: $pink }
  }

  &.value {
    .label {
      opacity: 0;
      left: 25px;
    }
  }

  .errorText {
    position: absolute;
    bottom: -24px;
    right: 0px;
    pointer-events:none;
    color: $pink;
    font-weight: 400;
    line-height: 18px;
    animation-duration: .35s;
    animation-fill-mode: both;
  }
}
